# Virtual Environment
.venv/
venv/
ENV/

# Python Cache
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Pytest / Testing
.pytest_cache/
.coverage
htmlcov/

# Databases & local state
*.db
*.sqlite
*.sqlite3

# OS generated
.DS_Store
Thumbs.db
